<!DOCTYPE html>
<html>
<head>
	<title>Cabral Test Page - Angular.js</title>
	<script type='text/javascript' src="http://code.jquery.com/jquery-1.8.2.js"></script>
	<script type="text/javascript" src="angular/angular.js"></script>
	<script type="text/javascript">
		function MyCtrl($scope) {
		    $scope.myName = "no name";
		    $scope.boolChk = false;
		    $scope.optionList = [{id: 1, name: 'Opt1'}, {id: 2, name: 'Opt2'}];
		}
	</script>
</head>
<body>
	<div ng-app ng-controller="MyCtrl">

		<h1>Angular.js</h1>
		<label>Type your name: <input type="text" id="userName" ng-model="myName"/></label>
		<div>
			<span id="msg">Hello {{myName}}!</span>
		</div>
		<hr />
		<label><input type="checkbox" class="chkBox" ng-model="boolChk" /> Checkbox</label>
		<div>
			Chk <span id="chkBoolean">{{boolChk}}</span>
		</div>
		<hr />
		<label>Select 
			<select class="mySelectCssClass" ng-model="opt" ng-options="e.name for e in optionList">

			</select>
		</label>
		<div>
			Opt <span id="selectResult">{{opt.name}}</span>
		</div>
	</div>
</body>
</html>
